---
import Button from "@components/Button/Button.astro";
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
import { Icon } from "astro-icon/components";
---

<astro-my-name>
  <div class="background"></div>
  <Column spacing="2xl">
    <Column spacing="xl">
      <h1>
        <span>Hey! 👋 I'm Nicolás&nbsp;Vera</span><br />
        <span>I'm a Software Developer&nbsp;👨‍💻</span><br />
        <span>I design and develop</span>
        <span>thoughtful solutions</span>
        <span
          >centered on <span class="highlight">user's experience.</span></span
        >
      </h1>
      <div class="asterisk-list">
        <p class="xs-hidden">Software Engineer</p>
        <Icon is:inline={true} name="asterisk" />
        <p>Buenos Aires</p>
        <Icon is:inline={true} name="asterisk" />
        <p>Argentina</p>
      </div>
    </Column>
    <Row class="buttons" spacing="md" justify="center">
      <Button href="">Download CV</Button>
      <Button href="" outline>Contact me</Button>
    </Row>
  </Column>
</astro-my-name>

<style lang="scss">
  @import "@styles/screens.scss";

  .background {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("media/hero.jpg");
    background-size: cover;
    filter: blur(40px);
    opacity: 0.1;
  }

  h1 {
    text-align: center;
    font-size: var(--font-size-display);
    line-height: 120%;
    font-weight: 600;
    margin: 0;
    margin-top: var(--spacing-xl);

    @media screen and (max-width: $screen-sm-min) {
      // text-align: start;
    }

    .highlight {
      color: var(--color-secondary);
    }
  }

  .asterisk-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    font-size: var(--font-size-h4);
    flex-wrap: wrap;

    @media screen and (max-width: $screen-sm-min) {
      > *:first-of-type {
        display: none;
      }
    }

    p {
      margin: 0;
    }

    svg {
      width: 8px;
      height: 8px;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { vhPercent } from "@scripts/utils/gsap";

  class MyNameContainer extends HTMLElement {
    constructor() {
      super();
      gsap.context(() => {
        // this.getShowSectionAnim(0);
        this.getTextHighlightAnim(30, 70);
      }, this);
    }

    getShowSectionAnim(startPercent: number) {
      gsap.fromTo(
        "h1, .asterisk-list, .buttons",
        { opacity: 0, x: -20 },
        {
          ease: "expo.inOut",
          opacity: 1,
          x: 0,
          scrollTrigger: {
            trigger: this,
            start: () => "top " + vhPercent(startPercent),
            end: "bottom top",
            toggleActions: "play none none reverse",
          },
        }
      );
    }

    getTextHighlightAnim(startPercent: number, endPercent: number) {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: "h1",
          start: "top top+=160",
          end: "bottom " + vhPercent(endPercent),
          scrub: 0.5,
          invalidateOnRefresh: true,
        },
      });

      const spans = gsap.utils.toArray<HTMLElement>("h1 > span");

      spans.map((span, i, all) => {
        const ease = i === all.length - 1 ? "power4.out" : "slow(0.3, 0, true)";
        tl.fromTo(
          span,
          { opacity: 0.05, filter: "grayscale(1)" },
          { ease, duration: 1, opacity: 1, filter: "grayscale(0)" },
          ">-=0.3"
        );
      });
    }
  }

  customElements.define("astro-my-name", MyNameContainer);
</script>
