---
import Arrow from "@components/Arrow/Arrow.astro";

interface Props {
  target: number | string;
}

const { target } = Astro.props;
---

<button
  class="scroll-down-button container"
  data-scroll-to={target}
  aria-label="Scroll down"
>
  <Arrow width={48} angle={90} animateTo={42} />
</button>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--color-paper-on-background);
    cursor: pointer;
    transition:
      color 200ms ease,
      background-color 200ms ease;

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-text-on-secondary);
    }
  }
</style>

<script>
  import { scrollTo } from "@scripts/scroll";

  const buttons = document.querySelectorAll<HTMLElement>(".scroll-down-button");

  for (const button of buttons) {
    const target = button.dataset.scrollTo;
    if (!target) continue;

    button.addEventListener("click", () => {
      if (!isNaN(parseInt(target))) {
        scrollTo(parseInt(target));
      } else {
        scrollTo(target);
      }
    });
  }
</script>
