---
import Arrow from "@components/Arrow/Arrow.astro";
import Gooey from "@components/Gooey/Gooey.astro";
---

<Gooey triggerPadding={24} debugId="scroll-down-button">
  <div class="container">
    <div class="arrow-container">
      <Arrow width={48} />
    </div>
  </div>
</Gooey>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--color-paper-on-background);
    /* background-color: red; */
  }

  .arrow-container {
    transform: rotate(90deg);
  }
</style>

<script></script>
