---
import FeaturedProject from "./elements/FeaturedProject/FeaturedProject.astro";
import { getCollection } from "astro:content";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";

const allFeaturedProjects = await getCollection(
  "projects",
  (project) => project.data.featured
);
---

<astro-work-anim-container>
  <div class="work">
    <div class="title">
      <SectionTitle>Work.</SectionTitle>
    </div>

    {
      allFeaturedProjects.map((project, i) => (
        <div class="project-container">
          <FeaturedProject
            project={project}
            direction={i % 2 == 0 ? "normal" : "reverse"}
          />
        </div>
      ))
    }
  </div>
</astro-work-anim-container>

<style>
  .title {
    position: relative;
    width: 100%;
    margin-bottom: var(--spacing-5xl);
    padding-top: var(--spacing-5xl);
  }

  .project-container {
    margin-bottom: var(--spacing-5xl);
  }
</style>

<script>
  import { gsap } from "gsap";

  class WorkAnimContainer extends HTMLElement {
    constructor() {
      super();
      gsap.context(() => {}, this);
    }
  }

  customElements.define("astro-work-anim-container", WorkAnimContainer);
</script>
