---
import FeaturedProject from "./elements/FeaturedProject/FeaturedProject.astro";
import { getCollection } from "astro:content";

const allFeaturedProjects = await getCollection(
  "projects",
  (project) => project.data.featured
);
---

<section class="work">
  <h2>Work.</h2>

  {
    allFeaturedProjects.map((project, i) => (
      <div class="project-container">
        <FeaturedProject
          project={project}
          direction={i % 2 == 0 ? "normal" : "reverse"}
        />
      </div>
    ))
  }
</section>

<style>
  h2 {
    opacity: 0.6;
    font-size: var(--font-size-display-xl);
    font-weight: 400;
    color: var(--color-background);
    text-shadow:
      -1px -1px 0 var(--color-text),
      1px -1px 0 var(--color-text),
      -1px 1px 0 var(--color-text),
      1px 1px 0 var(--color-text);
    margin: var(--spacing-lg) 0;
  }

  .project-container {
    margin-bottom: var(--spacing-5xl);
  }
</style>
