---
import Arrow from "@components/Arrow/Arrow.astro";
---

<h2>
  <slot />
  <div>
    <Arrow width={16} angle={45} />
  </div>
</h2>

<style>
  h2 {
    font-size: var(--font-size-h4);
    font-weight: 400;
  }

  div {
    margin-top: var(--spacing-lg);
  }
</style>
