---
interface Props {
  href: string;
  outline?: boolean;
  color?: "onPrimary" | "onBackground";
  size?: "text" | "caption";
}

import Arrow from "@components/Arrow/Arrow.astro";
import { Icon } from "astro-icon/components";

const { href, size = "text", color = "onBackground", outline } = Astro.props;
---

<a href={href} class:list={[color, { caption: size === "caption", outline }]}>
  <slot />
  <Arrow angle={-45} width={16} />
</a>

<style lang="scss">
  a {
    padding: var(--spacing-md);
    background-color: var(--color-text-on-background);
    color: var(--color-background);
    border-radius: var(--radius-sm);
    font-size: var(--font-size-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);

    &.onPrimary {
      background-color: var(--color-text-on-primary);
      color: var(--color-text-on-background);
    }

    &:hover {
      text-decoration: none;
    }

    &.outline {
      color: var(--color-text-on-background);
      background-color: transparent;
      border: 1px solid var(--color-text-on-background);
    }
  }
</style>
