---
interface Props {
  class?: string;
  wide?: boolean;
}

const { class: className, wide, ...rest } = Astro.props;
---

<div class:list={[className, { wide }]} {...rest}>
  <slot />
</div>

<style lang="scss">
  @import "@styles/screens.scss";

  div {
    width: 100%;
    padding: 0 var(--spacing-2xl);
    margin: 0 auto;

    @media screen and (max-width: $screen-sm-min) {
      padding: 0 var(--spacing-md);
    }

    @media screen and (min-width: 1440px) {
      max-width: var(--page-wide-max-width);
    }
  }

  div.wide {
    @media screen and (min-width: 1440px) {
      max-width: var(--page-wide-max-width);
    }
  }
</style>
