---
interface Props {
  class?: string;
  fluid?: boolean;
  noPadding?: boolean;
}

const { class: classProp, fluid, noPadding, ...rest } = Astro.props;
---

<div class:list={[classProp, "container", { noPadding, fluid }]} {...rest}>
  <slot />
</div>

<style>
  @import url("./styles/containers.scss");
</style>
