---

---

<div>
  <slot />
</div>

<style lang="scss">
  @import "@styles/screens.scss";

  div {
    padding: 0 var(--spacing-lg);

    @media screen and (max-width: $screen-sm-min) {
      padding: 0 var(--spacing-md);
    }

    @media screen and (min-width: 1440px) {
      max-width: var(--page-max-width);
    }
  }
</style>
