---
interface Props {
  xs?: ColSize;
  sm?: ColSize;
  md?: ColSize;
  lg?: ColSize;
}

const props = Astro.props;
const classList: string[] = [];

const sizes = ["xs", "sm", "md", "lg"] as const;
for (const size of sizes) {
  if (props[size]) {
    classList.push(
      props[size] === "auto" ? `col-${size}` : `col-${size}-${props[size]}`
    );
  }
}
---

<style>
  @import url("./GridCol.scss");
</style>

<div class:list={classList}>
  <slot />
</div>
