---
import { getPropertyClasses } from "./utils";

interface Props {
  class?: string;
  justify?: Justify | BreakpointProperty<Justify>;
  align?: Align | BreakpointProperty<Align>;
  spacing?: Spacing;
  grow?: boolean;
}

const {
  class: classProp,
  justify,
  align,
  spacing,
  grow,
  ...rest
} = Astro.props;
const classes = [
  ...getPropertyClasses(justify, "justify"),
  ...getPropertyClasses(align, "align"),
  ...getPropertyClasses(spacing ?? "lg", "spacing"),
];
---

<div class:list={[classProp, "row", { grow }, classes]} {...rest}>
  <slot />
</div>

<style lang="scss">
  @import "./styles/common.scss";

  .row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(var(--col-gutter, 24px) / 2 * -1);
    margin-right: calc(var(--col-gutter, 24px) / 2 * -1);

    &.grow {
      flex-grow: 1;
    }
  }
</style>
