---
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
---

<astro-about-me>
  <div class="row middle-xs">
    <div class="col-xs-1">
      <p class="vertical">About.</p>
    </div>
    <div class="text col-xs col-xs-offset-1 col-sm-7 col-sm-offset-3">
      <p>
        I am a <span class="highlight">Computer Science graduate</span> with a passion
        for technology. I have developed a strong foundation in computer science
        concepts and programming languages, which helps me quickly learn new skills
        and technologies.
      </p>
      <p class="highlight">
        — I understand the importance of user experience and always strive to
        create intuitive and enjoyable interfaces for the people using my
        applications.
      </p>
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        quasi veritatis corrupti dicta eaque. Saepe, sequi vel. Magni voluptates
        quaerat sint dolore? Odio sapiente qui temporibus ab quas, eos beatae?
      </p> -->
    </div>
  </div>
</astro-about-me>

<style lang="scss">
  @import "@styles/screens.scss";

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    line-height: 160%;
    font-size: var(--font-size-h3);

    @media screen and (max-width: $screen-sm-min) {
      font-size: var(--font-size-h4);
    }

    p {
      margin: 0;
    }

    .highlight {
      font-size: var(--font-size-h3);
      font-weight: 600;
    }
  }

  .vertical {
    color: #cac6e6;
    position: sticky;
    /* top: var(--spacing-3xl); */
    margin: 0;
    font-size: var(--font-size-h3);
    opacity: 1;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
</style>

<script>
  import { vhPercent } from "@scripts/utils/gsap";
  import { gsap } from "gsap";

  class AboutMeContainer extends HTMLElement {
    constructor() {
      super();

      gsap.context(() => {
        const paragraphs = gsap.utils.toArray<HTMLElement>(".text > *");
        for (const p of paragraphs) {
          gsap.from(p, {
            ease: "expo.inOut",
            duration: 0.4,
            x: 30,
            opacity: 0,
            scrollTrigger: {
              trigger: p,
              start: "top " + vhPercent(70),
              toggleActions: "play none none reverse",
            },
          });
        }
      }, this);
    }
  }

  customElements.define("astro-about-me", AboutMeContainer);
</script>
