---
import GridCol from "@components/Grid/GridCol.astro";
import GridOffset from "@components/Grid/GridOffset.astro";
import GridRow from "@components/Grid/GridRow.astro";
---

<astro-about-me-anim-container>
  <div class="about-me">
    <GridRow>
      <GridOffset xs={4} />
      <GridCol xs="auto">
        <div class="text">
          <p>
            I am a <span class="highlight">Computer Science graduate</span> with
            a passion for technology. I have developed a strong foundation in computer
            science concepts and programming languages, which helps me quickly learn
            new skills and technologies.
          </p>
          <p class="highlight">
            — I understand the importance of user experience and always strive
            to create intuitive and enjoyable interfaces for the people using my
            applications.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            quasi veritatis corrupti dicta eaque. Saepe, sequi vel. Magni
            voluptates quaerat sint dolore? Odio sapiente qui temporibus ab
            quas, eos beatae?
          </p>
        </div>
      </GridCol>
      <GridOffset xs={1} />
    </GridRow>
  </div>
</astro-about-me-anim-container>

<style>
  .about-me {
    position: relative;
  }

  .title {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: var(--spacing-2xl);
  }

  .text {
    position: relative;
    line-height: 160%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-h3);

    /* p {
      margin: 0;
    } */

    .highlight {
      font-weight: 600;
    }
  }
</style>

<script>
  import { vhPercent } from "@scripts/utils/gsap";
  import { gsap } from "gsap";

  class AboutMeAnimContainer extends HTMLElement {
    constructor() {
      super();

      gsap.context(() => {
        const paragraphs = gsap.utils.toArray<HTMLElement>(".text > *");

        for (const p of paragraphs) {
          gsap.from(p, {
            ease: "expo.inOut",
            duration: 0.4,
            x: 30,
            opacity: 0,
            scrollTrigger: {
              trigger: p,
              start: "top " + vhPercent(70),
              toggleActions: "play none none reverse",
            },
          });
        }
      }, this);
    }
  }

  customElements.define("astro-about-me-anim-container", AboutMeAnimContainer);
</script>
