---
import GridCol from "@components/Grid/GridCol.astro";
import GridOffset from "@components/Grid/GridOffset.astro";
import GridRow from "@components/Grid/GridRow.astro";
---

<astro-about-me-anim-container>
  <div class="about-me">
    <GridRow>
      <GridCol xs={12}>
        <div class="title">
          <h2>About.</h2>
        </div>
      </GridCol>
    </GridRow>
    <GridRow>
      <GridOffset xs={5} />
      <GridCol xs="auto">
        <div class="text">
          <p>
            I am a <span class="highlight">Computer Science graduate</span> with
            a passion for technology. I have developed a strong foundation in computer
            science concepts and programming languages, which helps me quickly learn
            new skills and technologies.
          </p>
          <p class="highlight">
            — I understand the importance of user experience and always strive
            to create intuitive and enjoyable interfaces for the people using my
            applications.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            quasi veritatis corrupti dicta eaque. Saepe, sequi vel. Magni
            voluptates quaerat sint dolore? Odio sapiente qui temporibus ab
            quas, eos beatae?
          </p>
        </div>
      </GridCol>
    </GridRow>
  </div>
</astro-about-me-anim-container>

<style>
  .about-me {
    position: relative;
  }

  .title {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: var(--spacing-2xl);
  }

  h2 {
    font-size: var(--font-size-display-xl);
    font-weight: 400;
    color: var(--color-text);
    margin: 0;
  }

  .text {
    position: relative;
    line-height: 160%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-h3);

    /* p {
      margin: 0;
    } */

    .highlight {
      font-weight: 600;
    }
  }
</style>

<script>
  import { vhPercent } from "@scripts/utils/gsap";
  import { gsap } from "gsap";

  class AboutMeAnimContainer extends HTMLElement {
    constructor() {
      super();

      gsap.context(() => {
        gsap.from(".title", {
          ease: "expo.inOut",
          duration: 0.4,
          x: -20,
          opacity: 0,
          scrollTrigger: {
            trigger: ".title",
            start: "top " + vhPercent(40),
            toggleActions: "play none none reverse",
          },
        });

        gsap.from(".text", {
          ease: "expo.inOut",
          duration: 0.4,
          x: -20,
          opacity: 0,
          scrollTrigger: {
            trigger: ".title",
            start: "top " + vhPercent(40),
            toggleActions: "play none none reverse",
          },
        });
      }, this);
    }
  }

  customElements.define("astro-about-me-anim-container", AboutMeAnimContainer);
</script>
