---
import { getCollection } from "astro:content";
import ProjectCard from "./elements/ProjectRow/ProjectRow.astro";
import GridRow from "@components/Grid/GridRow.astro";
import GridCol from "@components/Grid/GridCol.astro";

const allNonFeaturedProjects = await getCollection(
  "projects",
  (project) => !project.data.featured
);
---

<section>
  <GridRow>
    <GridCol xs={12}>
      <h3>Other Projects</h3>
    </GridCol>
  </GridRow>
  <GridRow>
    <GridCol xs={12}>
      <div class="projects-container">
        {
          allNonFeaturedProjects.map((project) => (
            <ProjectCard project={project} />
          ))
        }
      </div>
    </GridCol>
  </GridRow>
</section>

<style>
  .projects-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: var(--font-size-text);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: var(--spacing-xl);
  }
</style>
