---
import { getCollection } from "astro:content";
import ProjectCard from "./elements/ProjectRow/ProjectRow.astro";
import Row from "@components/Grid/Row.astro";
import Column from "@components/Grid/Column.astro";

const allNonFeaturedProjects = await getCollection(
  "projects",
  (project) => !project.data.featured
);
---

<section>
  <Row>
    <h3>Other Projects</h3>
  </Row>
  <Column size={12}>
    {allNonFeaturedProjects.map((project) => <ProjectCard project={project} />)}
  </Column>
</section>

<style>
  h3 {
    font-size: var(--font-size-text);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: var(--spacing-xl);
  }
</style>
