---
interface Props {
  background: string;
}

const { background } = Astro.props;
---

<div class="background" style={{ backgroundColor: background }}>
  <slot />
</div>

<style>
  .background {
    width: 100%;
    border-radius: var(--radius-xl);
  }
</style>
