---
import { getCollection } from "astro:content";
import ProjectCard from "./elements/ProjectCard/ProjectCard.astro";
import GridRow from "@components/Grid/GridRow.astro";
import GridCol from "@components/Grid/GridCol.astro";

const allNonFeaturedProjects = await getCollection(
  "projects",
  (project) => !project.data.featured
);
---

<section>
  <GridRow>
    <GridCol xs={4}>
      <h1>More<br />Work</h1>
    </GridCol>
    <GridCol xs={8}>
      <div class="projects-container">
        {
          allNonFeaturedProjects.map((project) => (
            <div>
              <ProjectCard project={project} />
            </div>
          ))
        }
      </div>
    </GridCol>
  </GridRow>
</section>

<style>
  .projects-container > div:not(:last-child) {
    margin-bottom: var(--spacing-md);
  }
</style>
