---
import GridCol from "@components/Grid/GridCol.astro";
import GridRow from "@components/Grid/GridRow.astro";
import LinkButton from "@components/LinkButton/LinkButton.astro";
import HeroImage from "@assets/images/hero.jpg";
import { Image } from "astro:assets";
---

<astro-hero-anim-container>
  <div class="hero">
    <GridRow>
      <GridCol xs={2}>
        <h1>
          <span>Analyze.</span>
          <span>Design.</span>
          <span>Build.</span>
        </h1>
      </GridCol>
      <GridCol xs={10}>
        <figure>
          <div class="img-container">
            <Image src={HeroImage} alt={"Artistic background"} />
          </div>
          <figcaption>
            <LinkButton
              href="https://www.instagram.com/bumpofkevin/"
              size="caption"
            >
              Photo by Kevin Gamba
            </LinkButton>
          </figcaption>
        </figure>
      </GridCol>
    </GridRow>
  </div>
</astro-hero-anim-container>

<style>
  .hero {
    position: relative;
    height: calc(100vh - var(--el-header-height));
    display: flex;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    line-height: 150%;
    font-size: var(--font-size-display);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  figure .img-container {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-sm);
  }

  figure img {
    background-color: var(--color-text-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125%;
    object-fit: cover;
  }

  figure figcaption {
    color: var(--color-text-light);
    font-size: var(--font-size-caption);
    margin-top: var(--spacing-sm);
  }
</style>

<script>
  import { gsap } from "gsap";

  class HeroAnimContainer extends HTMLElement {
    constructor() {
      super();
      gsap.context(() => {
        const tl = gsap.timeline({
          defaults: { ease: "none" },
          scrollTrigger: {
            id: "hero",
            trigger: ".hero",
            start: "top top+=80px",
            scrub: true,
          },
        });
        tl.addLabel("start");
        tl.to("img", { y: 300 }, "start");
        tl.to("h1", { y: -80 }, "start");
      }, this);
    }
  }
  customElements.define("astro-hero-anim-container", HeroAnimContainer);
</script>
