---
import { Image } from "astro:assets";
import ProfileImage from "@assets/images/profile-pic.jpeg";
import ProfileDarkImage from "@assets/images/profile-pic-dark.jpeg";
import ScrollDownButton from "@components/ScrollDownButton/ScrollDownButton.astro";
import LocationAndTime from "@components/LocationAndTime/LocationAndTime.astro";

interface Props {
  scrollDownTarget: number | string;
}

const { scrollDownTarget } = Astro.props;
---

<div class="container">
  <div class="top">
    <LocationAndTime />
  </div>
  <div class="bottom">
    <h1>
      Hi, I'm Nicolás <span
        ><Image
          class="light"
          src={ProfileImage}
          alt={"Profile picture of Nicolás Vera"}
        /><Image
          class="dark"
          src={ProfileDarkImage}
          alt={"Profile picture of Nicolás Vera at night"}
        />,</span
      > a Software Developer focused on delivering user-centered solutions.
    </h1>
    <div class="scroll-down-container">
      <ScrollDownButton target={scrollDownTarget} />
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../styles/screens.scss";

  .container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100svh - var(--el-header-height));
    padding-bottom: var(--spacing-3xl);

    @media screen and (max-width: $screen-lg-min) {
      padding-bottom: var(--spacing-2xl);
    }

    @media screen and (max-width: $screen-sm-min) {
      padding-bottom: var(--spacing-xl);
    }
  }

  .bottom {
    margin-top: var(--spacing-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xl);
    justify-content: space-between;

    @media screen and (max-width: $screen-md-min) {
      margin-top: var(--spacing-md);
      flex-direction: column;
      gap: var(--spacing-xl);
    }
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
    max-width: 1400px;
    text-wrap: pretty;

    span {
      white-space: nowrap;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
      vertical-align: baseline;
      position: relative;
      top: 10px;

      @media screen and (max-width: $screen-md-min) {
        top: 12px;
      }

      @media screen and (max-width: $screen-sm-min) {
        width: 48px;
        height: 48px;
        top: 8px;
      }
    }

    img.light {
      display: initial;
    }
    img.dark {
      display: none;
    }

    &.dark {
      img.light {
        display: none;
      }
      img.dark {
        display: initial;
      }
    }
  }

  .scroll-down-container {
    @media screen and (max-width: $screen-md-min) {
      display: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>

<script>
  import { isDarkMode } from "@scripts/stores";
  import { triggerEvent } from "@scripts/analytics";

  const h1 = document.querySelectorAll<HTMLElement>("h1");

  isDarkMode.subscribe((isDarkMode) => {
    h1.forEach((el) => el.classList.toggle("dark", isDarkMode));
  });

  document
    .querySelector(".scroll-down-container button")
    ?.addEventListener("click", () => {
      triggerEvent("scroll-down-button-clicked");
    });
</script>
