@import "@styles/screens.scss";

:root {
  --page-padding-h: 64px;
  --page-max-width: 1440px;
  --color-background: #ffffff;
  --color-primary: #19aec8;
  --color-secondary: rgb(214, 122, 177);
  --color-primary-light: #40acbf;
  --color-primary-lightest: #d4f2f7;
  --color-light-border: #dddddd;
  --color-text: #171b1c;
  --color-text-light: #616a6b;
  --color-text-lighter: #d7dadb;
  --color-text-background: #f6f6f6;
  --color-github: #181616;
  --color-linkedin: #0076b2;
  --color-shadow: #edf6f7;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;
  --spacing-5xl: 256px;
  --font-size-caption: 12px;
  --font-size-text-small: 14px;
  --font-size-text: 16px;
  --font-size-h1: 48px;
  --font-size-h3: 30px;
  --font-size-h4: 24px;
  --font-size-display: 96px;
  --font-size-display-xl: 200px;
  --radius-sm: 4px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-xl: 40px;

  --el-header-height: 80px;
  --el-scroll-indicator-width: 48px;

  @media screen and (max-width: $screen-sm-min) {
    --font-size-display: 48px;
    --font-size-h3: 20px;
    --font-size-h4: 18px;
    --font-size-display-xl: 16px;
  }
}

* {
  font-family: "Poppins", Arial;
  box-sizing: border-box;
  color: var(--color-text);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color-background);
  margin: auto;
}

p {
  margin: 0;
}
