@import "@styles/screens.scss";

:root {
  --page-col-gutter: 24px;
  --page-padding-h: 64px;
  --page-max-width: 1660px;
  --color-background: #fcf8f1;
  --color-primary: #104542;
  --color-secondary: #f0565b;
  --color-topbar: red;
  --color-text-on-background: #393734;
  --color-text-on-primary: #fcf8f1;
  --color-text-on-secondary: #fcf8f1;
  --color-text-on-paper: #393734;
  --color-paper-on-background: #fffdfa;
  --color-paper-on-paper: #fafafa;
  --color-paper-border-on-paper: #f1f1f1;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;
  --spacing-5xl: 256px;
  --font-size-caption: 12px;
  --font-size-text-small: 16px;
  --font-size-text: 20px;
  --font-size-h1: 61px;
  --font-size-h2: 41px;
  --font-size-h3: 31px;
  --font-size-h4: 25px;
  --radius-sm: 4px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-xl: 40px;

  --el-mobile-nav-background: var(--color-primary);
  --el-mobile-nav-color: var(--color-text-on-primary);
  --el-header-height: 96px;
  --el-figma-editable-color: #4597f7;

  &.dark {
    --color-background: #1b1b1a;
    --color-primary: #082120;
    --color-secondary: #960d12;
    --color-text-on-background: #fffcf8;
    --color-text-on-primary: #fcf8f1;
    --color-text-on-secondary: #fcf8f1;
    --color-text-on-paper: #fffcf8;
    --color-paper-on-background: #393938;
    --color-paper-on-paper: #666665;
    --color-paper-border-on-paper: #7d7d7d;
  }

  @media screen and (max-width: $screen-lg-min) {
    --radius-xl: 32px;
  }

  @media screen and (max-width: $screen-md-min) {
    --font-size-h1: 48px;
    --font-size-h3: 20px;
    --font-size-h4: 18px;
    --font-size-display-xl: 16px;
  }

  @media screen and (max-width: $screen-sm-min) {
    --radius-xl: 16px;
    --font-size-h1: 36px;
    --font-size-h2: 26px;
    --font-size-h3: 20px;
    --font-size-h4: 18px;
    --font-size-text: 16px;
    --font-size-text-small: 14px;
    --font-size-display-xl: 16px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", Arial;
  color: var(--color-text-on-background);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color-background);
  margin: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  color: currentColor;

  &:hover {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.gooey {
  filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">\
    <defs>\
      <filter id="goo">\
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />\
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />\
        <feBlend in="SourceGraphic" in2="goo" />\
      </filter>\
    </defs>\
  </svg>#goo');
}
