:root {
  --page-padding-h: 64px;
  --page-max-width: 1440px;
  --color-background: #ffffff;
  --color-primary: #19aec8;
  --color-primary-light: #40acbf;
  --color-primary-lightest: #d4f2f7;
  --color-primary-light-border: #deebed;
  --color-text: #171b1c;
  --color-text-light: #616a6b;
  --color-text-lighter: #d7dadb;
  --color-text-background: #f6f6f6;
  --color-github: #181616;
  --color-linkedin: #0076b2;
  --color-shadow: #edf6f7;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --font-size-caption: 12px;
  --font-size-text-small: 14px;
  --font-size-text: 16px;
  --font-size-h1: 48px;
  --font-size-h4: 24px;
  --font-size-display: 96px;
  --radius-md: 4px;

  --el-header-height: 80px;
  --el-scroll-indicator-width: 48px;
}

* {
  font-family: "Poppins", Arial;
  box-sizing: border-box;
  color: var(--color-text);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0 var(--page-padding-h);
  max-width: var(--page-max-width);
  margin: auto;
}
