---
interface Props {
  class?: string;
  background: string;
  foreground: string;
}

const { background, foreground, class: className, ...rest } = Astro.props;
---

<div class="background" style={{ backgroundColor: background }}>
  <div
    class:list={["foreground", className]}
    style={{ backgroundColor: foreground }}
    {...rest}
  >
    <slot />
  </div>
</div>

<style>
  .background,
  .foreground {
    width: 100%;
  }

  .foreground {
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  }
</style>
