---

---

<div>
  <slot />
</div>

<style>
  div {
    border-radius: var(--radius-sm);
    padding: var(--spacing-lg);
    border: 1px solid var(--color-light-border);
    background-color: var(--color-background);
  }
</style>
