---
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
---

<div>
  <Row grow>
    <Column offset={5} justify="center" align="start">
      <p>I'm always looking to level up my skills.</p>
      <p>Contact me at if you believe we could grow together.</p>
    </Column>
  </Row>
</div>

<style>
  div {
    display: flex;
    height: 100vh;
  }
  p {
    font-size: var(--font-size-h3);
    font-weight: 400;
    line-height: 150%;
    margin: 0;
  }

  span {
    color: var(--color-primary);
  }
</style>
