---
import BaseLayout from "@layouts/BaseLayout.astro";
import Work from "@sections/Work/Work.astro";
import OtherProjects from "@sections/OtherProjects/OtherProjects.astro";
import Contact from "@sections/Contact/Contact.astro";
import MyName from "@sections/MyName/MyName.astro";
import Hero from "@sections/Hero/Hero.astro";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
import Skills from "@sections/Skills/Skills.astro";
---

<BaseLayout title="Nicolás Vera">
  <div class="container">
    <Hero />
    <section class="my-name">
      <MyName />
    </section>
    <section class="about-me">
      <AboutMe />
    </section>
    <section class="skills">
      <Skills />
    </section>
    <!-- <WorkIntro /> -->
    <Work />
    <OtherProjects />
    <Contact />
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */
  }

  section.my-name {
    margin-top: var(--spacing-5xl);
    min-height: calc(100vh - var(--el-header-height));
  }

  section.about-me {
    /* margin-top: 100px; */
  }

  section.skills {
    margin-top: var(--spacing-5xl);
    margin-bottom: var(--spacing-5xl);
  }

  .hero {
    margin-bottom: 80px;
  }
</style>
