---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@sections/Hero/Hero.astro";
import MyName from "@sections/MyName/MyName.astro";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
import Skills from "@sections/Skills/Skills.astro";
import Work from "@sections/Work/Work.astro";
import OtherProjects from "@sections/OtherProjects/OtherProjects.astro";
import Contact from "@sections/Contact/Contact.astro";
import Container from "@components/Grid/Container.astro";
---

<BaseLayout title="Nicolás Vera">
  <div class="container">
    <Container>
      <Hero />
    </Container>
    <div class="my-name-fluid">
      <Container>
        <section class="my-name">
          <MyName />
        </section>
      </Container>
    </div>
    <div class="test">
      <Container>
        <section class="about-me">
          <AboutMe />
        </section>
        <section class="skills">
          <Skills />
        </section>
      </Container>
    </div>
    <Container>
      <section class="work">
        <Work />
      </section>
    </Container>
    <Container>
      <OtherProjects />
    </Container>
    <Container>
      <Contact />
    </Container>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */
  }

  .my-name-fluid {
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    padding-bottom: var(--spacing-2xl);
    background-color: var(--color-background);
  }

  section.my-name {
    margin-top: var(--spacing-5xl);
  }

  section.about-me {
  }

  section.skills {
    margin-top: var(--spacing-5xl);
  }

  section.work {
    margin-top: var(--spacing-5xl);
    margin-bottom: var(--spacing-5xl);
  }

  .hero {
    margin-bottom: 80px;
  }

  .test {
    padding-top: var(--spacing-2xl);
    background-color: #e7e5f7;
    padding: var(--spacing-5xl) 0;
  }
</style>

<script>
  import { configGsap } from "@scripts/configGsap";
  import { gsap } from "gsap";

  configGsap();

  gsap.to("body", {
    backgroundColor: "#e7e5f7",
    scrollTrigger: {
      markers: true,
      trigger: ".test",
      start: "top bottom+=100",
      end: "bottom center",
      toggleActions: "play reverse play reverse",
    },
  });
</script>
