---
import BaseLayout from "@layouts/BaseLayout.astro";
import MyName from "@sections/MyName/MyName.astro";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
import Skills from "@sections/Skills/Skills.astro";
import Work from "@sections/Work/Work.astro";
import OtherProjects from "@sections/OtherProjects/OtherProjects.astro";
import Contact from "@sections/Contact/Contact.astro";
import Container from "@components/Grid/Container.astro";
import Hero from "@sections/Hero/Hero.astro";
import CardSection from "@components/CardSection/CardSection.astro";
import Experience from "@sections/Experience/Experience.astro";
import Button from "@components/Button/Button.astro";
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
import MoreThingsAboutMe from "@sections/MoreThingsAboutMe/MoreThingsAboutMe.astro";
---

<BaseLayout title="Nicolás Vera">
  <Container class="hero">
    <Hero />
  </Container>
  <CardSection background="var(--color-primary)">
    <Container class="about-me-container">
      <AboutMe />
      <Experience />
      <Row>
        <Column offset={3} align="start">
          <Button href="" color="onPrimary">Download CV</Button>
        </Column>
      </Row>
    </Container>
  </CardSection>
  <Container>
    <MoreThingsAboutMe />
    <Work />
  </Container>
</BaseLayout>

<!-- 
  <div class="second-section">
    <Container>
      <section class="about-me">
        <AboutMe />
      </section>
      <section class="skills">
        <Skills />
      </section>
    </Container>
  </div>
  <Container>
    <section class="work">
      <Work />
    </section>
  </Container>
  <Container>
    <OtherProjects />
  </Container>
  <Container>
    <Contact />
  </Container> -->

<style lang="scss">
  @import "@styles/screens.scss";
  .my-name-fluid {
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    padding-bottom: var(--spacing-2xl);
    background-color: var(--color-background);
  }

  .about-me-container {
    padding-top: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
    color: var(--color-text-on-primary);
  }

  section.skills {
    margin-top: var(--spacing-5xl);
  }

  section.work {
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-5xl);
  }

  .hero {
    margin-bottom: 80px;
  }

  .my-name {
    will-change: transform;
    padding-top: var(--spacing-4xl);
    padding-bottom: var(--spacing-5xl);

    @media screen and (max-width: $screen-sm-min) {
      padding-top: var(--spacing-xl);
      padding-bottom: var(--spacing-4xl);
    }
  }

  .about-me {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-5xl);

    .about-me-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-2xl);
    }

    .skills-container {
      max-width: 90%;
    }

    @media screen and (max-width: $screen-sm-min) {
      padding-top: 0;
      padding-bottom: var(--spacing-3xl);
    }
  }
</style>

<script>
  import { setupGSAP } from "@scripts/gsap";
  import { gsap } from "gsap";

  setupGSAP();

  const tl = gsap.timeline({
    defaults: { ease: "none" },
    scrollTrigger: {
      trigger: ".my-name",
      start: "bottom bottom+=50",
      end: "bottom top",
      scrub: 1,
    },
  });

  tl.to(".my-name", { duration: 0.2, scale: 0.9 }, 0);
  tl.to(".my-name", { duration: 1, y: -300 }, 0);
</script>
