---
import ScrollSidebarLayout from "@layouts/ScrollSidebarLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton/LinkButton.astro";
import Work from "@sections/Work/Work.astro";
import MoreWork from "@sections/MoreWork/MoreWork.astro";
import Contact from "@sections/Contact/Contact.astro";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
import Hero from "@sections/Hero/Hero.astro";
---

<BaseLayout title="Nicolás Vera">
  <ScrollSidebarLayout section="Home">
    <div class="container">
      <Hero />
      <div class="about-me">
        <AboutMe />
      </div>
      <Work />
      <MoreWork />
      <Contact />
    </div>
  </ScrollSidebarLayout>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */
  }

  .about-me {
    margin-top: 20vh;
    margin-bottom: -20vh;
  }
</style>
