---
import ScrollSidebarLayout from "@layouts/ScrollSidebarLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton/LinkButton.astro";
import Work from "@sections/Work/Work.astro";
import MoreWork from "@sections/MoreWork/MoreWork.astro";
import Contact from "@sections/Contact/Contact.astro";
import MyName from "@sections/MyName/MyName.astro";
import Hero from "@sections/Hero/Hero.astro";
import GridRow from "@components/Grid/GridRow.astro";
import { Image } from "astro:assets";
import ArtImage from "@assets/images/art.jpg";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
import WorkIntro from "@sections/WorkIntro/WorkIntro.astro";
---

<BaseLayout title="Nicolás Vera">
  <ScrollSidebarLayout section="Home">
    <div class="container">
      <Hero />
      <MyName />
      <!-- <GridRow>
        <Image class="art" src={ArtImage} alt={"Artistic background"} />
      </GridRow> -->
      <div class="about-me">
        <AboutMe />
      </div>
      <!-- <WorkIntro /> -->
      <Work />
      <MoreWork />
      <Contact />
    </div>
  </ScrollSidebarLayout>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */
  }

  .art {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--radius-md);
  }

  .about-me {
    margin-bottom: 20vh;
  }
</style>
