---
import ScrollSidebarLayout from "@layouts/ScrollSidebarLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Work from "@sections/Work/Work.astro";
import OtherProjects from "@sections/OtherProjects/OtherProjects.astro";
import Contact from "@sections/Contact/Contact.astro";
import MyName from "@sections/MyName/MyName.astro";
import Hero from "@sections/Hero/Hero.astro";
import AboutMe from "@sections/AboutMe/AboutMe.astro";
---

<BaseLayout title="Nicolás Vera">
  <div class="container">
    <Hero />
    <MyName />
    <!-- <GridRow>
        <Image class="art" src={ArtImage} alt={"Artistic background"} />
      </GridRow> -->
    <div class="about-me">
      <AboutMe />
    </div>
    <!-- <WorkIntro /> -->
    <Work />
    <OtherProjects />
    <Contact />
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* gap: 20vh; */
  }

  .art {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--radius-md);
  }

  .about-me {
    margin-bottom: 20vh;
  }
</style>
