---
import { Icon } from "astro-icon/components";
---

<div>
  <Icon name={"badge"} />
  <slot />
</div>

<style>
  [data-icon] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;

    path {
    }
  }
</style>
