---
import HomeButtonBox from "../HomeButtonBox/HomeButtonBox.astro";
---

<astro-home-assistant class="container">
  <div class="list">
    <HomeButtonBox name="Relax Scene" icon="scene" color="off" />
    <HomeButtonBox name="Living TV" icon="tv" state="Off" color="off" />
    <HomeButtonBox name="Frontyard Camera" icon="videocam" color="blue" />
    <HomeButtonBox name="Stairs" state="100%" />
  </div>
  <div class="list">
    <HomeButtonBox name="Ambient Light" icon="bulb" state="50%" color="off" />
    <HomeButtonBox name="Kitchen TV" icon="tv" state="Off" color="off" />
    <HomeButtonBox
      class="light theme-switcher"
      name="Portfolio"
      state="Light"
      clickable
      opacity={1}
    />
    <HomeButtonBox
      class="dark theme-switcher"
      name="Portfolio"
      color="off"
      state="Dark"
      clickable
      opacity={1}
    />
    <HomeButtonBox
      name="Main Bedroom"
      icon="ceiling-bulb"
      state="Off"
      color="off"
    />
    <HomeButtonBox name="Kitchen TV" icon="speaker" state="Off" color="off" />
  </div>
  <div class="list">
    <HomeButtonBox name="Farolito" state="Off" color="off" />
    <HomeButtonBox name="Door Lock" icon="lock" state="Lock" color="blue" />
    <HomeButtonBox
      name="Speakers Group"
      icon="speaker"
      state="Off"
      color="off"
    />
    <HomeButtonBox name="Backyard" state="Off" color="off" />
  </div>
</astro-home-assistant>

<style lang="scss">
  @import "../../../../styles/screens.scss";

  .container {
    display: block;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    box-shadow:
      inset -24px 0 48px 16px var(--color-paper-on-background),
      inset 24px 0 48px 16px var(--color-paper-on-background),
      inset 0 -24px 48px 16px var(--color-paper-on-background),
      inset 0 24px 48px 16px var(--color-paper-on-background);

    @media screen and (max-width: $screen-sm-min) {
      box-shadow:
        inset -16px 0 32px 16px var(--color-paper-on-background),
        inset 0px -16px 32px 16px var(--color-paper-on-background),
        inset 0 16px 32px 8px var(--color-paper-on-background);
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
  }

  .list :global(.dark) {
    display: none;
  }

  :root.dark .list :global(.light) {
    display: none;
  }
  :root.dark .list :global(.dark) {
    display: flex;
  }

  .list:first-child {
    margin-left: -48px;
  }

  .list:last-child {
    margin-left: -48px;
  }
</style>

<script>
  import { isDarkMode } from "@scripts/stores";

  class HomeAssistantGraphic extends HTMLElement {
    constructor() {
      super();

      this.querySelectorAll(".theme-switcher").forEach((switcher) =>
        switcher.addEventListener("click", () => {
          document.documentElement.classList.toggle("dark");
          isDarkMode.set(!isDarkMode.get());
        })
      );
    }
  }

  customElements.define("astro-home-assistant", HomeAssistantGraphic);
</script>
