---
import { Icon } from "astro-icon/components";

interface Props {
  names: string[];
}

const { names } = Astro.props;
---

<div class="chip">
  {
    names.map((name, i, all) =>
      i === all.length - 1 ? (
        <p class="chip-tech">{name}</p>
      ) : (
        <Fragment>
          <>
            <p class="chip-tech">{name}</p>
            <Icon name={"asterisk"} />
          </>
        </Fragment>
      )
    )
  }
</div>

<style>
  .chip {
    display: flex;
    flex-direction: row;
    flex: 0;
    gap: var(--spacing-md);
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    margin: 0;
    flex-wrap: wrap;
    background-color: var(--color-text);
    border-radius: var(--radius-lg);

    p.chip-tech {
      font-size: var(--font-size-caption);
      color: var(--color-background);
      vertical-align: middle;
      margin: 0;
    }

    [data-icon] {
      width: 8px;
      height: 8px;
      vertical-align: middle;
      margin: 0;

      path {
        fill: var(--color-background);
      }
    }
  }
</style>
