---

---

<header>
  <div class="logo">
    <img src="/media/logo.svg" alt="Nicolás Vera Logo" />
    <h1><span>Nicolás</span> <span>Vera</span></h1>
  </div>
</header>

<style>
  header {
    height: var(--el-header-height);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    align-items: center;
  }

  h1 {
    font-size: var(--font-size-caption);
    font-weight: 700;
    display: flex;
    flex-direction: column;
  }
</style>
