---
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
---

<header>
  <Row align="center" grow>
    <Column justify="start">
      <Row align="center" spacing="sm">
        <img src="/media/logo.svg" alt="Nicolás Vera Logo" />
        <h1><span>Nicolás</span> <span>Vera</span></h1>
      </Row>
    </Column>

    <Column>
      <nav>
        <ul>
          <Row spacing="lg" justify="end">
            <li>About me</li>
            <li>Projects</li>
            <li>Contact</li>
          </Row>
        </ul>
      </nav>
    </Column>
  </Row>
</header>

<style>
  header {
    height: var(--el-header-height);
    background-color: var(--color-background);
    display: flex;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  h1 {
    font-size: var(--font-size-caption);
    font-weight: 700;
    display: flex;
    flex-direction: column;
  }
</style>
