---
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
import type { NavItem } from "@components/Nav/Nav.astro";
import Nav from "@components/Nav/Nav.astro";
import { Icon } from "astro-icon/components";

interface Props {
  nav?: NavItem[];
}

const { nav } = Astro.props;
---

<header>
  <Row justify="between" align="center">
    <Column size={2} class="logo">
      <Icon name="logo" />
      <div>
        <p>Nicolás</p>
        <p>Vera</p>
      </div>
    </Column>
    <Column align="end">
      <Nav nav={nav} />
    </Column>
  </Row>
</header>

<style lang="scss">
  header {
    width: 100%;
    height: var(--el-header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: color 0.5s ease;

    &.open {
      color: var(--color-text-on-primary);
    }
  }

  .logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    gap: var(--spacing-sm);

    [data-icon="logo"] {
      width: 48px;
      height: 48px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      p {
        font-size: var(--font-size-caption);
        font-weight: 600;
      }
    }
  }

  h1 {
    font-size: var(--font-size-caption);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
  }
</style>

<script>
  import { isMobileNavOpen } from "@scripts/stores";

  isMobileNavOpen.subscribe((isMobileNavOpen) => {
    document
      .querySelectorAll("header")
      .forEach((header) => header.classList.toggle("open", isMobileNavOpen));
  });
</script>
