---

---

<header>
  <div class="header-logo">
    <img src="/media/logo.svg" alt="Nicolás Vera Logo" />
    <h1><span>Nicolás</span> <span>Vera</span></h1>
  </div>

  <nav>
    <ul>
      <li>About me</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<style>
  header {
    height: var(--el-header-height);
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header nav li {
    list-style-type: none;
  }

  header nav li:not(:last-child) {
    margin-right: var(--spacing-lg);
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-logo h1 {
    font-size: var(--font-size-caption);
    font-weight: 700;
    margin-left: var(--spacing-sm);
    color: var(--color-primary);

    display: flex;
    flex-direction: column;
  }
</style>
