@import "./variables";

.align-xs-start {
  align-items: start;
}

.align-xs-center {
  align-items: center;
}

.align-xs-end {
  align-items: end;
}

.align-xs-baseline {
  align-items: baseline;
}

.justify-xs-start {
  justify-content: start;
}

.justify-xs-center {
  justify-content: center;
}

.justify-xs-end {
  justify-content: end;
}

.justify-xs-between {
  justify-content: space-between;
}

.justify-xs-around {
  justify-content: space-around;
}

@media only screen and (min-width: $screen-sm-min) {
  .align-sm-start {
    align-items: start;
  }

  .align-sm-center {
    align-items: center;
  }

  .align-sm-end {
    align-items: end;
  }

  .align-sm-baseline {
    align-items: baseline;
  }

  .justify-sm-start {
    justify-content: start;
  }

  .justify-sm-center {
    justify-content: center;
  }

  .justify-sm-end {
    justify-content: end;
  }

  .justify-sm-between {
    justify-content: space-between;
  }

  .justify-sm-around {
    justify-content: space-around;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .align-md-start {
    align-items: start;
  }

  .align-md-center {
    align-items: center;
  }

  .align-md-end {
    align-items: end;
  }

  .align-md-baseline {
    align-items: baseline;
  }

  .justify-md-start {
    justify-content: start;
  }

  .justify-md-center {
    justify-content: center;
  }

  .justify-md-end {
    justify-content: end;
  }

  .justify-md-between {
    justify-content: space-between;
  }

  .justify-md-around {
    justify-content: space-around;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .align-lg-start {
    align-items: start;
  }

  .align-lg-center {
    align-items: center;
  }

  .align-lg-end {
    align-items: end;
  }

  .align-lg-baseline {
    align-items: baseline;
  }

  .justify-lg-start {
    justify-content: start;
  }

  .justify-lg-center {
    justify-content: center;
  }

  .justify-lg-end {
    justify-content: end;
  }

  .justify-lg-between {
    justify-content: space-between;
  }

  .justify-lg-around {
    justify-content: space-around;
  }
}
