@import "./variables";

.container {
  margin-right: auto;
  margin-left: auto;

  &:not(.fluid) {
    max-width: $container-lg;
  }

  &.fluid {
    padding-right: $outer-margin;
    padding-left: $outer-margin;
  }
  &.noPadding {
    padding-right: 0;
    padding-left: 0;
  }
}
