@import "./variables";

.row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &.column {
    flex-direction: column;
  }

  &.grow {
    flex-grow: 1;
  }
}
