$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$gutter-width: 24px;

$container-sm: 720px;
$container-md: 960px;
$container-lg: 1140px;

$half-gutter-width: $gutter-width * 0.5;
$outer-margin: 2rem;
$gutter-compensation: $gutter-width * 0.5 * -1;
