---
import LinkButton from "@components/LinkButton/LinkButton.astro";

const year = new Date().getFullYear();
---

<footer>
  <p>© {year} Nicolás Vera. All rights reserved</p>
  <!-- <div>
    <LinkButton>CV</LinkButton>
    <LinkButton>Github</LinkButton>
    <LinkButton>LinkedIn</LinkButton>
  </div> -->
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) 0;
  }

  p,
  div {
    font-size: var(--font-size-caption);
  }

  div {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
  }
</style>
