---
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
import BadgeCertification from "@sections/Skills/elements/BadgeCertification/BadgeCertification.astro";
---

<Row>
  <Column class="card">
    <Row justify={"center"}>
      <Column size={8} spacing="lg" justify="center" align="center">
        <div class="skills">
          <p class="title">SKILLS</p>
          <p class="text">
            I feel comfortable working with both backend and frontend
            technologies
          </p>
          <div class="certifications">
            <BadgeCertification>AWS Cloud Practitioner</BadgeCertification>
            <BadgeCertification>Azure Fundamentals</BadgeCertification>
          </div>
        </div>
        <div class="skill-icons">
          <img src="/media/skills/Docker.svg" />
          <img src="/media/skills/java.svg" />
          <img src="/media/skills/Javascript.svg" />
          <img src="/media/skills/MongoDb.svg" />
          <img src="/media/skills/nestjs.svg" />
          <img src="/media/skills/NextJs.svg" />
          <img src="/media/skills/NodeJs.svg" />
          <img src="/media/skills/PostgreSQL.svg" />
          <img src="/media/skills/React.svg" />
          <img src="/media/skills/Typescript.svg" />
        </div>
      </Column>
    </Row>
  </Column>
</Row>

<style>
  .card {
    padding: var(--spacing-4xl);
    border-radius: var(--radius-md);
    /* background: linear-gradient(
      160deg,
      rgba(231, 231, 231, 0.9) 0%,
      rgba(250, 233, 255, 0.8) 100%
    ); */
    background-color: var(--color-background);
    background-image: url(media/dot.svg);
    background-size: auto;
    background-position: left top;
    background-repeat: repeat;
    border: 1px solid hsl(247, 60%, 85%);
    border-radius: var(--radius-lg);
    /* box-shadow: 0 4px 4px 0 var(--color-shadow); */
    /* color: white; */

    p,
    h2,
    div {
      /* color: white; */
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .title {
      font-size: var(--font-size-caption);
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
    }
  }

  .text {
    position: relative;
    line-height: 160%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
    font-size: var(--font-size-h3);
  }

  .skill-icons {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    img {
      height: 64px;
      width: 64px;
    }
  }

  .certifications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-lg);
  }
</style>
