---
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import GridCard from "./elements/GridCard/GridCard.astro";
import MainSkillsGraphic from "./elements/MainSkillsGraphic/MainSkillsGraphic.astro";
import AllSkillsGraphic from "./elements/AllSkillsGraphic/AllSkillsGraphic.astro";
import CloudCertsGraphic from "./elements/CloudCertsGraphic/CloudCertsGraphic.astro";
import DockerGraphic from "./elements/DockerGraphic/DockerGraphic.astro";
import FigmaGraphic from "./elements/FigmaGraphic/FigmaGraphic.astro";
import HomeAssistantGraphic from "./elements/HomeAssistantGraphic/HomeAssistantGraphic.astro";
---

<div>
  <SectionTitle>A few more things about me</SectionTitle>

  <astro-cards-grid class="cards-grid">
    <GridCard gridArea="main-sk">
      <MainSkillsGraphic slot="content" />
      <div slot="description">
        <p>React, Typescript and Java</p>
        <p class="sub-description">These are my primary skills</p>
      </div>
    </GridCard>
    <GridCard gridArea="all-sk">
      <AllSkillsGraphic slot="content" />
      <div slot="description">
        <p>Other skills</p>
        <p class="sub-description">
          I've worked with various tools, frameworks and databases
        </p>
      </div>
    </GridCard>
    <GridCard gridArea="cloud">
      <CloudCertsGraphic slot="content" />
      <div slot="description">
        <p>I'm cloud certified</p>
        <p class="sub-description">Pursuing advanced certs</p>
      </div>
    </GridCard>
    <GridCard gridArea="docker">
      <DockerGraphic slot="content" />
      <div slot="description">
        <p>I love containers</p>
        <p class="sub-description">
          It's just too easy to spin up an entire development environment
        </p>
      </div>
    </GridCard>
    <GridCard gridArea="figma">
      <FigmaGraphic slot="content" />
      <div slot="description">
        <p>I design with Figma</p>
        <p class="sub-description">
          I'm a developer with an eye for design<br />s
        </p>
      </div>
    </GridCard>
    <GridCard gridArea="ha">
      <HomeAssistantGraphic slot="content" />
      <div slot="description">
        <p>I'm interested in the future of IoT</p>
        <p class="sub-description">
          I've smartify my house with Home Assistant<br />s
        </p>
      </div>
    </GridCard>
  </astro-cards-grid>
</div>

<style lang="scss">
  .cards-grid {
    margin-top: var(--spacing-3xl);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-row: 1fr 1fr;
    grid-template-areas:
      "main-sk main-sk main-sk main-sk all-sk all-sk all-sk all-sk all-sk cloud cloud cloud"
      " figma  figma  figma   ha  ha     ha     ha    ha    ha docker  docker  docker ";

    grid-column-gap: var(--col-gutter, 24px);
    column-gap: var(--col-gutter, 24px);
    grid-row-gap: var(--spacing-2xl);
    row-gap: var(--spacing-xl);
  }

  .sub-description {
    font-size: var(--font-size-caption);
    opacity: 0.6;
  }
</style>

<script>
  import { vhPercent } from "@scripts/utils/gsap";
  import { gsap } from "gsap";

  class CardsGridContainer extends HTMLElement {
    constructor() {
      super();

      gsap.context(
        () => {
          const cards = gsap.utils.toArray<HTMLElement>(".cards-grid > *");
          cards.forEach((card) => {
            gsap.from(card, {
              scale: 0.85,
              y: 10,
              opacity: 0.8,
              scrollTrigger: {
                trigger: card,
                start: "top " + vhPercent(95),
                end: "bottom " + vhPercent(75),
                scrub: true,
              },
            });
          });
        },

        this
      );
    }
  }

  customElements.define("astro-cards-grid", CardsGridContainer);
</script>
