---

---

<div class="card">
  <div class="header">
    <slot name="header" />
  </div>
  <div class="content-fluid">
    <slot name="content-fluid" />
  </div>
</div>

<style>
  .card {
    position: relative;
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    height: 300px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card:after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-text-on-background);
    position: absolute;
    top: var(--spacing-xl);
    right: var(--spacing-xl);
    border-radius: 100%;
  }

  .header {
    padding: var(--spacing-xl);
    padding-right: calc(var(--spacing-xl) * 2);
    padding-bottom: 0;
    font-size: var(--font-size-h4);
  }

  .header :global(.highlight) {
    font-weight: 600;
  }

  .content-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>
