---
interface Props {
  label: string;
  active: boolean;
}

const { label, active } = Astro.props;
---

<div class:list={{ "button-cursor": active }} data-label={label}>
  <slot />
</div>

<style>
  div {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
</style>
