---
import Footer from "@components/Footer/Footer.astro";
import ScrollIndicator from "@components/ScrollIndicator/ScrollIndicator";

interface Props {
  section: string;
}

const { section } = Astro.props;
---

<div class="content">
  <div class="scroll-indicator-container">
    <div class="scroll-indicator">
      <p class="section-name">{section}</p>
      <div class="progress-bar">
        <ScrollIndicator />
      </div>
      <a class="github" href="https://github.com/nicoverali" target="_blank">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_7_103)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 0.956818C5.74743 0.956818 0.677246 6.02588 0.677246 12.2796C0.677246 17.2824 3.92156 21.5265 8.42043 23.0239C8.98612 23.1289 9.19387 22.7783 9.19387 22.4792C9.19387 22.2092 9.18337 21.3173 9.1785 20.3711C6.0285 21.0561 5.36381 19.0352 5.36381 19.0352C4.84875 17.7264 4.10662 17.3784 4.10662 17.3784C3.07912 16.6757 4.18406 16.6903 4.18406 16.6903C5.32087 16.77 5.91975 17.8571 5.91975 17.8571C6.92962 19.5878 8.56856 19.0875 9.21468 18.7984C9.31631 18.0666 9.60975 17.5669 9.93356 17.2841C7.41862 16.9982 4.77468 16.0271 4.77468 11.6886C4.77468 10.4524 5.21718 9.44232 5.9415 8.64919C5.82375 8.36419 5.43618 7.21257 6.051 5.65294C6.051 5.65294 7.00162 5.34863 9.16537 6.81357C10.0687 6.56251 11.0376 6.43632 12 6.432C12.9619 6.43632 13.9312 6.56213 14.8363 6.81319C16.9974 5.34826 17.9469 5.65257 17.9469 5.65257C18.5632 7.21201 18.1757 8.36382 18.0581 8.64882C18.7841 9.44194 19.2234 10.452 19.2234 11.6882C19.2234 16.0371 16.5746 16.9944 14.0533 17.2749C14.4596 17.6263 14.8215 18.3156 14.8215 19.3718C14.8215 20.8868 14.8084 22.1061 14.8084 22.479C14.8084 22.7803 15.0124 23.1334 15.5861 23.0222C20.0824 21.5233 23.3229 17.2806 23.3229 12.2796C23.3227 6.02625 18.2531 0.957005 12 0.957005V0.956818Z"
              fill="currentColor"></path>
            <path
              d="M4.96579 17.2136C4.94086 17.2699 4.85236 17.2868 4.77173 17.2483C4.68923 17.2116 4.64329 17.1349 4.66992 17.0784C4.69429 17.0203 4.78298 17.0044 4.86492 17.0432C4.94742 17.0801 4.99429 17.1576 4.96561 17.2138L4.96579 17.2136ZM5.42442 17.7253C5.37061 17.7754 5.26504 17.7521 5.19342 17.6728C5.11917 17.5941 5.10529 17.4885 5.16023 17.4377C5.21611 17.3878 5.31848 17.4114 5.39273 17.4902C5.46661 17.5701 5.48123 17.6747 5.42461 17.7255L5.42442 17.7253ZM5.87104 18.3773C5.80167 18.4256 5.68804 18.3804 5.61792 18.2798C5.54854 18.1789 5.54854 18.0579 5.61979 18.0098C5.68973 17.9614 5.80167 18.0051 5.87292 18.1048C5.94192 18.207 5.94192 18.3279 5.87104 18.3771V18.3773ZM6.48248 19.0074C6.42061 19.0759 6.28823 19.0575 6.19148 18.9643C6.09267 18.873 6.06511 18.7431 6.12717 18.6748C6.19017 18.6062 6.32311 18.6253 6.42042 18.7179C6.51923 18.8091 6.54904 18.9392 6.48286 19.0073L6.48248 19.0074ZM7.32623 19.3733C7.29867 19.4619 7.17154 19.5023 7.04311 19.4644C6.91504 19.4256 6.83123 19.3219 6.85748 19.2323C6.88373 19.1428 7.01179 19.101 7.14098 19.1413C7.26904 19.1799 7.35286 19.2831 7.32623 19.3733ZM8.25304 19.4409C8.25623 19.5343 8.14748 19.6116 8.01304 19.6134C7.87748 19.6166 7.76779 19.5409 7.76648 19.449C7.76648 19.3547 7.87298 19.2784 8.00836 19.2758C8.14279 19.2733 8.25323 19.3483 8.25323 19.4408L8.25304 19.4409ZM9.11517 19.2943C9.13129 19.3853 9.03773 19.4788 8.90404 19.5038C8.77279 19.5281 8.65092 19.4715 8.63404 19.3813C8.61792 19.2879 8.71317 19.1944 8.84442 19.1702C8.97829 19.1471 9.09829 19.2021 9.11517 19.2945V19.2943Z"
              fill="currentColor"></path>
          </g>
          <defs>
            <clipPath id="clip0_7_103">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/nicolasavera/">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_7_107)">
            <path
              d="M21.75 0.562495H2.25C1.80756 0.557992 1.3814 0.729191 1.06504 1.03853C0.74867 1.34786 0.56794 1.77006 0.5625 2.2125V21.7912C0.568923 22.233 0.750087 22.6543 1.06634 22.9628C1.3826 23.2713 1.8082 23.442 2.25 23.4375H21.75C22.1925 23.441 22.6183 23.2692 22.9345 22.9597C23.2507 22.6502 23.4316 22.2281 23.4375 21.7856V2.20687C23.4296 1.76574 23.2479 1.34555 22.9319 1.03763C22.6159 0.729716 22.1912 0.558966 21.75 0.562495Z"
              fill="currentColor"></path>
            <path
              d="M3.94871 9.13687H7.34434V20.0625H3.94871V9.13687ZM5.64746 3.69937C6.03692 3.69937 6.41764 3.81488 6.74144 4.0313C7.06523 4.24771 7.31757 4.5553 7.46653 4.91515C7.61548 5.275 7.65436 5.67094 7.57824 6.0529C7.50213 6.43485 7.31444 6.78564 7.03891 7.0609C6.76339 7.33616 6.41242 7.52352 6.0304 7.59927C5.64837 7.67502 5.25246 7.63577 4.89275 7.48647C4.53304 7.33717 4.2257 7.08454 4.00959 6.76054C3.79349 6.43653 3.67834 6.05571 3.67871 5.66625C3.67921 5.14443 3.88685 4.64415 4.25601 4.27534C4.62517 3.90653 5.12564 3.69937 5.64746 3.69937ZM9.47434 9.13687H12.7293V10.6369H12.7743C13.2281 9.77812 14.3343 8.8725 15.9862 8.8725C19.425 8.865 20.0625 11.1281 20.0625 14.0625V20.0625H16.6668V14.7469C16.6668 13.4812 16.6443 11.8519 14.9025 11.8519C13.1606 11.8519 12.8643 13.2319 12.8643 14.6644V20.0625H9.47434V9.13687Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_7_107">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </div>

  <div class="main">
    <slot />
    <Footer />
  </div>
</div>

<style>
  .content {
    display: flex;
  }

  .content .scroll-indicator-container {
    height: calc(100vh - var(--el-header-height));
    width: var(--el-scroll-indicator-width);
    padding: 10% 0;
    margin-right: var(--spacing-xxl);
    position: sticky;
    top: var(--el-header-height);
    display: flex;
    justify-content: start;
  }

  .content .scroll-indicator {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-indicator p.section-name {
    font-size: var(--font-size-caption);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: 0;
  }

  .scroll-indicator .progress-bar {
    flex: 1;
    padding: var(--spacing-md) 0;
  }

  .scroll-indicator a svg * {
    color: var(--color-text-light);
  }

  .scroll-indicator a.github:hover svg * {
    color: var(--color-github);
  }

  .scroll-indicator a.linkedin:hover svg * {
    color: var(--color-linkedin);
  }

  .content .main {
    flex: 1;
  }
</style>
