---

---

<header>
  <div class="header-logo">
    <img src="/media/logo.svg" alt="Nicolás Vera Logo" />
    <h1><span>Nicolás</span> <span>Vera</span></h1>
  </div>

  <nav>
    <ul>
      <li>About me</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
